
<h1>Grocery Search</h1>
     
    <form name="ctrl.searchForm" ng-submit="ctrl.searchGrocery()">
        
        <div class="select col-sm-2 col-md-2 col-lg-2">
            <select ng-model="ctrl.selectby" class="form-control">
                <option value="" disabled selected>Search by</option>
                <option value="brand">Brand Name</option>
                <option value="name">Product Name</option>
            </select>
        </div>

        <div class="keyword col-sm-4 col-md-4 col-lg-4">

            <input type="text" name="keyword" id="keyword" ng-model="ctrl.searchKeyword" placeholder="Brand Name or Product Name" class="form-control"/>
    
        </div>

        <div class="keyword col-sm-1 col-md-1 col-lg-1">
            <select ng-model="ctrl.orderby" class="form-control">
                <option value="" disabled selected>Sort by</option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-success">Search</button> 

    </form>
        
    <div class="list" ng-show="ctrl.grocery">
                    
        <div class="row">
            <div class="display col-sm-12 col-md-4 col-lg-3" ng-repeat="item in ctrl.grocery">
                    
                <h4><label>Barcode:</label></h4><img ng-src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1"></img>
                <h4><label>Brand Name:</label> {{item.brand}}</h4>
                <h4><label>Last Name:</label> {{item.name}}</h4>

                
            </div>
        </div>
    </div>

