h1 {
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    text-align: left;
}

h4 {
    font-size: 100%
}

.nav-text {
    margin-right: 45px;
    margin-left: 15px;
    font-size: 80%;
    color: green;
    text-transform: uppercase;
}

.select {
    margin-left: 15px;
    margin-right: 1px;
    padding: 0;
}

.keyword {
    margin-right: 1px;
    padding: 0;

}

.display{
    border-style: solid;
    border-radius: 1px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-color: rgb(197, 197, 197);
 }

 .row {  
    margin-top: 15px;
    margin-left: 15px;
 }  
